h1, h2{
    font-family: 'Roboto', sans-serif;
}
strong{
    font-family: 'Caveat', sans-serif;
}
body {
     background-image: url(LuciyL/LuciyL.github.io/Lab3/lab3_4/pattern-waved-hexagones.png);
}
